.gridText {
    border: 1px solid yellow;
}

.gridImage {
    border: 1px solid brown;
    position: relative;
}

.factoryImage {
    width: 100%;
}

.layer {
    position: absolute;
    top: 0;
    left: 0px;
}

.brain {
    position: absolute;
    top: 0px;
    left: 0px;
}