.container {
    background: radial-gradient(circle, rgba(206,2,189,1) 0%, rgba(75,6,193,1) 70%);;
}
.gridText {
    border: 1px solid yellow;
    color: white;
}

.gridImage {
    border: 1px solid brown;
    position: relative;
}

.factoryImage {
    width: 100%;
}

.layer {
    position: absolute;
    top: 0;
    left: 0px;
}

.brain {
    position: absolute;
    top: 0px;
    left: 0px;
}