.navbar {
    height: 60px;
    background-image: linear-gradient(90deg, rgba(75, 6, 193, 1) 0%, rgba(206, 2, 189, 1) 100%);
    color: white;
}

.grid1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.grid2 {
    display: flex;
    justify-content: flex-end;
    height: 60px;
}

.hamburger {
    color: white !important;
    font-size: 20px !important;
    font-weight: bolder !important;
    border-radius: 50% !important;
    margin-right: 10px !important;
}

.head {
    font-weight: bolder !important;
}