.reviewDiv {
    border: 1px solid black;
    width: 400px;
    display: flex;
    flex-direction: row;
}

.imageGrid {
    border: 1px solid yellow;
}

.reviewSec {
    border: 1px solid blueviolet;
    display: flex;
    justify-content: center;
}

.image {
    width: 100%;
}