.container {
    background: linear-gradient(to right, #9803be, #660798);
    padding-top: 120px;
    padding-bottom: 80px;
}

.grid {
    color: white;
    margin-top: 40px !important;
}

.text {
    padding-left: 30px;
    padding-top: 30px;
}