.container {
    background: linear-gradient(to right, #9803be, #660798);
    padding-top: 120px;
}

.grid {
    border: 1px solid goldenrod;
    color: white;
}

.text {
    padding-left: 30px;
    padding-top: 30px;
}